@model UdlaOverflow.Models.UO_Category

@{
    ViewBag.Title = "Details";
}

<h1>Detalle de Categoria</h1>

<div>
    @*<h4>UO_Category</h4>*@
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DescriptionCategory)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DescriptionCategory)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.UO_CategoryID }) |
    @Html.ActionLink("Volver", "Index")
</p>
